/*
 * Font sizes
 */
$font-heading: 2.5rem !default;
$font-large: 1.4rem !default;
$font-default: 1.1rem !default;
$font-small: 0.85rem !default;

/*
 * Sizes
 */
$borderRadius: 12px !default;
$navigation: 70px !default;
$default-container: 900px !default;
$small-container: 700px !default;
$large-container: 1200px !default;
$header-height: 70px !default;
