@use "@cgg/styles/config" as config;

.bg {
   width: 100%;
   position: absolute;
   z-index: 0;

   opacity: 0.5;
}

.layout {
   // Important flag is required here
   padding: config.$header-height + 20px 0 0 !important;
}
