@use "@cgg/styles/colors" as color;

.NONE,
.NONCHALLENGE {
   --tier: #{color.$secondary};
}

.IRON,
.UNRANKED {
   --tier: hsl(0, 0%, 41%);
}

.BRONZE {
   --tier: hsl(17, 42%, 39%);
}

.SILVER {
   --tier: hsl(189, 12%, 56%);
}

.GOLD {
   --tier: hsl(31, 60%, 52%);
}

.PLATINUM {
   --tier: hsl(171, 65%, 36%);
}

.DIAMOND {
   --tier: hsl(230, 55%, 57%);
}

// Discontinued
.EMERALD {
   --tier: hsl(154, 44%, 49%);
}

.MASTER {
   --tier: hsl(286, 53%, 51%);
}

.GRANDMASTER {
   --tier: hsl(351, 65%, 66%);
}

.CHALLENGER {
   --tier: hsl(40, 85%, 70%);
}
