.heading {
   color: color.$heading;
}

h1.heading {
   font-size: config.$font-heading;
   line-height: config.$font-heading * 1.25;
}

h2.heading {
   font-size: config.$font-large;
   line-height: config.$font-large * 1.25;
}

h3.heading {
   font-size: config.$font-large;
   line-height: config.$font-large * 1.25;
}
