@use "@cgg/styles/colors" as color;

.layout {
   display: flex;
   align-items: stretch;

   min-height: 100vh;
   position: relative;

   .content {
      position: relative;
      background-color: color.$accent;

      flex: 1;

      main {
         min-height: 100vh;
      }
   }
}
