.loader {
   width: 30px;
   height: 30px;
   border: 4px solid color.$border;
   border-top-color: color.$primary;

   border-radius: 50%;

   animation: 1s rotate linear infinite;
}

@keyframes rotate {
   to {
      rotate: 1turn;
   }
}
