.pathArea {
    width: 200px;
    float: left;
}

.area>.category {
    margin: 3px 10px;
}

.category,
.showMore {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 3px auto;
    width: 200px;
    display: block;
    float: left;
    border: 2px solid var(--border);
    background: var(--dark);
    padding: 5px 10px;
    box-sizing: border-box;
    height: 60px;
    border-radius: 5px;
}

.category>img {
    margin: 0 73px;
}

p.faqcapstone {
    width: 200px;
    float: left;
    text-align: justify;
    margin: 10px 0;
    color: var(--dborder);
    font-size: .8rem;
}


.line {
    width: 0;
    margin: 0 99px;
    float: left;
    height: 12px;
    border-left: 2px dashed var(--border);
}

.category>p,
.showMore>p {
    margin-top: 4px;
    text-align: center;
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
}

.category.this {
    border: 2px solid var(--element)
}

.category img.capstone {
    height: 20px;
    width: 20px;
    left: -10px;
    margin: 0;
    top: -10px;
    filter: brightness(.3);
    position: absolute;
}

.category.this img.capstone {
    filter: unset
}

.category:hover,
.showMore:hover {
    transition: .3s;
    border: 2px solid var(--element);
}

.showMore {
    width: 160px;
    height: 36px;
    margin: 3px 30px;
    cursor: pointer;
}

.area {
    max-height: 320px;
    height: 320px;
}

.area>p,
.pathArea>p {
    color: var(--dborder);
    font-size: .8rem;
    font-weight: normal;
    text-align: center;
}