.adArea {
    width: 300px;
    max-height: 80vh;
    position: absolute;
    z-index: 45;
    min-height: 50px;
    margin: 0;
}

.adArea.filled {
    margin-left: calc(50% + 520px);
}

@media only screen and (max-width:1700px) {
    .adArea.filled {
        margin: 0 5%;
        width: 90%;
        position: relative;
        float: left;
        display: flex;
        justify-content: center;
    }
}

.ad {
    z-index: 99;
    float: left;
    position: relative;
    min-height: 20px;
    width: 300px;
    border-radius: 10px;
    margin: 10px 0;
    max-height: 300px;
    padding: 0 0 5px;
}

.ad p {
    font-size: 12px;
    color: var(--dborder);
    width: 100%;
    padding: 5px 10px;
}

.adContent {
    width: 290px;
    margin: 0 5px;
}