.ad {
    height: 250px;
    width: 250px;
    float: left;
}

.fixed {
    position: fixed;
    margin-top: 20px;
    width: calc(50% - 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed>div {
    margin: 20px 0;
}

.fixed.right {
    margin-left: calc(50% + 500px)
}