.compact.challenge {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    display: block;
    position: relative;
    color: var(--light0);
    border-radius: 10px;
    background-color: var(--dark1);
    margin: 5px 0;
    height: 60px;
    transition: .2s linear background-color;
}

.compact.challenge:hover {
    background-color: var(--dark2);
}

.compact.challenge:hover>button {
    background-color: var(--dark3);
}

.compact.challenge.unranked>span {
    filter: brightness(.5)
}

.compact.challenge>span {
    float: left;
}

.group {
    width: 35%;
    float: left;
    height: 40px;
}

.compact.challenge>.group>p.heading {
    font-size: 1rem;
    float: left;
    width: calc(100% - 10px);
    white-space: nowrap;
    margin: 5px 5px 0;
}

.compact.challenge>.group>p.type {
    float: left;
    margin: 0px 5px 0;
    color: var(--light3);
    text-transform: capitalize;
    font-size: .8rem;
}

.compact.challenge>.description {
    float: left;
    width: 30%;
    display: flex;
    height: 40px;
}

.compact.challenge>.description>p {
    color: var(--light3);
    font-size: 12px;
    line-height: 13px;
    max-height: 40px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.compact.challenge>p.tier {
    font-size: .8rem;
    float: left;
    color: var(--type);
    text-align: center;
    width: calc(35% - 140px);
    white-space: nowrap;
    margin: calc(20px - .4rem) 10px;
}

.compact.challenge>.modes {
    width: 20px;
    float: left;
    margin: 0 10px;
    display: flex;
    height: 40px;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}

.compact.challenge>.modes>div>p {
    display: none;
}

.compact.challenge>.modes>img,
.compact.challenge>.modes>div>img,
.compact.challenge>.modes>div>i {
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    filter: brightness(.6);
}

.compact.challenge>button {
    width: 30px;
    margin: 5px 5px;
    height: 30px;
    border: none;
    float: left;
    background-color: var(--dark2);
    border-radius: 50%;
    color: white;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: .2s linear background-color;
}

.challenge:hover .hideOnHover {
    display: none;
}

.showOnHover {
    display: none;
}

.challenge:hover .showOnHover {
    display: inherit;
}

.full.challenge {
    width: 220px;
    box-sizing: border-box;
    padding: 10px;
    background-position: 0% 0%;
    background-size: 100%;
    margin: 8px 15px;
    overflow: hidden;
    border-radius: 5px;
    height: 150px;
    background-color: var(--dark0);
    border: 2px solid var(--type, transparent);
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background-image: var(--url);
}

.full.challenge img:hover,
.full.challenge.overview .tags>div:hover i {
    filter: brightness(1);
}

.full.challenge.overview .title>span {
    text-transform: capitalize;
}

.full.challenge.overview .tags {
    position: absolute;
    margin-top: 5px;
}

.full.challenge .tags>div>img {
    width: 25px;
    height: 25px;
    margin: 0;
    position: relative;
}

.full.challenge.overview .tags>div>i {
    width: 25px;
    height: 25px;
    margin: 0;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
    position: relative;
    color: white;
    filter: brightness(0.6);
    transition: .25s linear filter;
}

.full.challenge.overview .tags>div {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}


.full.challenge.overview .tags>div>p {
    width: 160px;
    text-align: center;
    background-color: var(--dark1);
    padding: 3px;
    border: 2px solid var(--type, --selected);
    visibility: hidden;
    margin-top: 28px;
    line-height: 1rem;
    margin-left: -70px;
    box-shadow: 0 0 3px var(--type, --selected);
    position: absolute;
    z-index: 5;
    font-size: 0.8rem;
    color: white;
    border-radius: 5px;
}

.full.challenge.overview .tags>div:hover>p {
    visibility: visible;
}


@keyframes shine {
    to {
        background-position-x: -200%;
    }
}


.full .title {
    color: white;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
}

.full .title>span {
    color: rgb(157, 156, 156);
    font-weight: normal;
    display: block;
    width: 100%;
    font-size: 0.8rem;
}


.full.challenge img {
    width: 20px;
    height: 20px;
    filter: brightness(0.6);
    transition: .25s linear filter;
}

.full.challenge .tags>img {
    margin: 8px 5px;
    float: left;
}

.full .description {
    color: rgb(203, 200, 200);
    font-size: 0.8rem;
    width: 100%;
    margin-top: 4px;
    max-height: 66px;
    height: 66px;
    overflow: hidden;
}


.full .FIRST,
.full .pos1 {
    box-shadow: 0 0 20px 0 var(--type);
}

.full .CROWN,
.full .MAXED {
    box-shadow: 0 0 15px -2px var(--type)
}

.compact.challenge .progressBar {
    width: 100%;
    background-color: var(--type);
    height: 5px;
    position: absolute;
    margin-left: -10px;
    max-width: 100%;
    margin-top: 45px;
    border-radius: 0 0 5px 5px;
}

.full.challenge:hover {
    box-shadow: 0 0 15px -2px var(--type);
}