.crystal {
    background-size: cover;
    color: white;
    text-decoration: none;
    background-image: url(https://lolcdn.darkintaqt.com/s/event-sb2d.webp?v2);
}

.group {
    width: 50%;
    float: left;
}

.crystalHead {
    font-size: 1.4rem;
    padding: 20px 10px;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}

.miniLeaderboard {
    width: calc(50% - 20px);
    margin-left: 20px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}

.miniLeaderboard>div.player {

    border-radius: 5px;
    background-color: rgba(14, 14, 18, .5);
    margin: 2px 0;
}

.crystal .text {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(14, 14, 18, .5);
    width: calc(100% - 50px);
    margin: 0 25px;
    border-radius: 5px;
}

.miniLeaderboard>div>p {
    float: left;
    padding: 10px 5px;
    box-sizing: border-box;
    height: 36px;

}

.miniLeaderboard>div>span {
    float: left;
    padding: 5px 2px;
}

.miniLeaderboard>div>span>img {
    border-radius: 5px;
}

.miniLeaderboard>div>p.position {
    font-size: 0.8rem;
    color: var(--light2);

}

.miniLeaderboard>div>p.name {
    color: white;
    font-size: 1rem;
    padding: 8px 0 8px 5px;
}

.miniLeaderboard>div>p.region {
    font-size: 0.8rem;
    padding: calc(8px + 0.2rem) 5px 8px 3px;
    color: var(--light3)
}