.filter {
    width: 250px;
    float: left;

}

.displayMode {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.displayMode button img {
    height: 24px;
    width: 25px;
}



.displayMode>button {
    border: none;
    background-color: var(--dark0);
    color: var(--light2);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

button>span {
    display: block;
    float: right;
    font-size: .7rem;
    font-weight: bold;
    color: white !important;
    padding: .15rem 5px;
    box-shadow: 0 0 5px var(--selected);
    background-color: var(--selected);
    border-radius: 5px;
    margin-left: 5px;
}

button.cmodefalse.modefalse,
button.cmodetrue.modetrue,
button.mastertrue {
    background-color: var(--dark2);
    color: white
}

@media only screen and (min-height:800px) {
    .filter {
        position: sticky;
        top: 60px;
    }
}

.input {
    width: 80%;
    margin: 10px 10%;
    background: var(--dark2);
    color: white;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: 20px;
}

.input:focus {
    border-color: var(--selected);
    box-shadow: 0 0 5px var(--selected);
}

.filter p.info {
    font-size: 1rem;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

.filter .selectors {
    width: calc(100% - 20px);
    margin: 15px 10px 10px;
    box-sizing: border-box;
    padding: 0 10px 10px;
    border-radius: 8px;
}

.filter .selectors .category {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

.filter .selectors .category .cheading {
    font-size: 0.8rem;
    color: white;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.filter .selectors .category>button {
    font-size: 1rem;
    white-space: nowrap;
    color: rgb(200, 200, 200);
    background-color: var(--dark0);
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    transition: 0.25s padding-left;

}

.filter .selectors .category>button:hover {
    color: white;
    background-color: var(--dark1);
}

.filter .selectors .category>button>i {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    float: left;
    color: white !important;
    text-align: center;
    margin-right: 5px;
}

.filter .selectors .category>button>img {
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: 5px;
}

.filter .selectors .category>button.selected {
    /* color: var(--selected);
    box-shadow: 0 0 3px var(--selected);
    border: 2px solid var(--selected); */
    background-color: var(--dark2);
    color: white;
    padding-left: 20px;
}

@media only screen and (max-width:1050px) {
    .filter {
        position: relative !important;
        width: 100%;
        top: 0;
    }


    .filter .selectors .category {
        width: calc(calc(1/3) * 0.9 * 100%);
        margin: 0 calc(calc(1/3) * 0.05 * 100%);
        float: left;
    }

    .filter .selectors .category>button {
        background-color: var(--dark1);
    }

    .filter .selectors .category>button.selected {
        border: 2px solid var(--selected);
        padding-left: 10px;
    }
}

@media only screen and (max-width:650px) {


    .filter .selectors .category {
        width: 100%;
        margin: 0;
    }
}