.Header {
    width: 100%;
    height: 60px;
    z-index: 50;
    position: fixed;
    background-color: var(--dark1);
}

.Header .inner {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}

.Header .inner > a:hover {
    color: var(--selected);
}

.Header .inner > a,
.Header .inner > select {
    transition: 0.2s color;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    float: right;
    padding: 5px;
    margin: calc(25px - 0.5rem) 10px;
    line-height: 1;
    display: block;
}

.Header .inner > select {
    appearance: none;
    border: none;
    background-color: var(--dark1);
}

.Header .inner > a:first-child,
.Header .inner > a:nth-of-type(2) {
    font-weight: bold;
    float: left;
}

.Header .inner > a:nth-of-type(2) {
    font-weight: normal;
}

.Header .inner > a > span {
    display: block;
    float: right;
    font-size: 0.7rem;
    font-weight: bold;
    color: white !important;
    padding: 0.15rem 5px;
    box-shadow: 0 0 5px var(--selected);
    background-color: var(--selected);
    border-radius: 5px;
    margin-left: 5px;
}

.Header .inner > a img {
    height: 2rem;
    width: 2rem;
    margin: -0.5rem 5px 0 0;
    float: left;
}

.HeaderPlaceholder {
    height: 60px;
    width: 100%;
    float: left;
}

.content {
    width: 100%;
    float: left;
    min-height: calc(100vh - 60px);
    background-color: var(--dark0);
}

@media only screen and (max-width: 1050px) {
    .Header .inner {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .Header .inner > a > i {
        display: none;
    }

    .hideOnMobile {
        display: none !important;
    }
}
