.Header {
    width: 100%;
    height: 60px;
    z-index: 50;
    position: fixed;
    background-color: var(--dark1);
}

.Header .inner {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}

.Header .inner>a:hover {
    color: var(--selected);
}

.Header .inner>a {
    transition: 0.2s color;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    float: right;
    padding: 5px;
    margin: calc(25px - .5rem) 10px;
    line-height: 1;
    display: block;
}

.Header .inner>a:first-child {
    font-weight: bold;
    float: left;

}

.Header .inner>a img {
    height: 2rem;
    width: 2rem;
    margin: -.5rem 0 0;
    float: left;
}

.HeaderPlaceholder {
    height: 60px;
    width: 100%;
    float: left;
}

.git {
    position: fixed;
    z-index: 55;
    background: var(--dark1);
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(200, 198, 198);
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 0 3px var(--dark3);
    border: 2px solid black;
    width: 150px;
    margin: calc(100vh - 60px) 0 0 calc(100% - 200px);
}

.git:hover {
    color: white;
    transition: 0.2s color, .2s border-color, .2s box-shadow;
    border-color: var(--selected);
    box-shadow: 0 0 5px var(--selected);
}

.content {
    width: 100%;
    float: left;
    min-height: calc(100vh - 60px);
    background-color: var(--dark0);
}

@media only screen and (max-width:1050px) {
    .Header .inner {
        width: 100%;
    }
}

.footer {
    position: relative;
    z-index: 25;
    width: 100%;
    min-height: 100px;
    float: left;
    background-color: var(--dark1);
}

.footer .leftFooter {
    float: left;
    color: white;
    font-size: 0.8rem;
    width: 20%;
    margin: 20px 0;
}

.footer .leftFooter>a,
.footer .rightFooter>a {
    text-decoration: none;
    color: white;
}

.footer .leftFooter img {
    width: 50px;
    margin-left: calc(50% - 25px);
}

.footer .leftFooter p {
    text-align: center;
}

.footer .rightFooter {
    width: 20%;
    margin: 20px 0;
    float: left;
}

.footer .rightFooter>a {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 10px;
    float: left;
}

.footer .rightFooter>a:last-of-type {
    margin: 0;
}

.footer .centerFooter {
    width: 50%;
    margin: 20px 10% 20px 0;
    float: left;
    color: white;
    font-size: 0.8rem;
    text-align: justify;
}

.footer .centerFooter a {
    color: white;
}

@media only screen and (max-width:1050px) {

    .git,
    .hideOnMobile {
        display: none !important;
    }
}