.Header {
    width: 100%;
    height: 60px;
    z-index: 50;
    position: fixed;
    background-color: #000000;
}

.Header .inner {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}

.Header .inner>a:hover {
    color: #0cbdf7;
}

.Header .inner>a {
    transition: 0.2s color;
    color: white;
    text-decoration: none;
    font-size: 20px;
    float: right;
    margin: 20px 15px;
    line-height: 1;
    display: block;
}

.Header .inner>a:first-child {
    font-weight: bold;
    float: left;
    margin: 20px 0 20px 30px;
}

.Header .inner>a img {
    height: 30px;
    width: 30px;
    margin: -5px 0 0 -30px;
    position: absolute;
}

.HeaderPlaceholder {
    height: 60px;
    width: 100%;
    float: left;
}

.git {
    position: fixed;
    z-index: 10;
    background: #111113;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(200, 198, 198);
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 0 3px rgb(62, 62, 62);
    border: 2px solid black;
    width: 150px;
    margin: calc(100vh - 60px) 0 0 calc(100% - 200px);
}

.git:hover {
    color: white;
    transition: 0.2s color, .2s border-color, .2s box-shadow;
    border-color: #0cbdf7;
    box-shadow: 0 0 5px #0cbdf7;
}

.content {
    width: 100%;
    float: left;
    min-height: calc(100vh - 60px);
    background-color: #111113;
}

@media only screen and (max-width:1050px) {
    .Header .inner {
        width: 100%;
    }
}

.footer {
    width: 100%;
    min-height: 100px;
    float: left;
    background-color: black;
}

.footer .leftFooter {
    float: left;
    color: white;
    font-size: 0.8rem;
    width: 20%;
    margin: 20px 0;
}

.footer .leftFooter>a,
.footer .rightFooter>a {
    text-decoration: none;
    color: white;
}

.footer .leftFooter img {
    width: 50px;
    margin-left: calc(50% - 25px);
}

.footer .leftFooter p {
    text-align: center;
}

.footer .rightFooter {
    width: 20%;
    margin: 20px 0;
    float: left;
}

.footer .rightFooter>a {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 10px;
    float: left;
}

.footer .rightFooter>a:last-of-type {
    margin: 0;
}

.footer .centerFooter {
    width: 40%;
    margin: 20px 20% 20px 0;
    float: left;
    color: white;
    font-size: 0.8rem;
    text-align: justify;
}