.match {
    width: calc(100% - 20px);
    height: 80px;
    background-color: var(--dark2);
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px 10px;
}

.match .matchdata {
    width: 50%;
    height: 80px;
    float: left;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px 0 0 10px;
    background-color: var(--dark1);
}

.match .matchdata>div[isloader] {
    margin: 10px auto;
}

.win {
    --wintype: var(--win)
}

.loss {
    --wintype: var(--loss)
}

.remake {
    --wintype: rgb(90, 90, 90)
}

.match .matchdata .left {
    width: 8px;
    background: var(--wintype);
    height: 80px;
    filter: brightness(.8);
    border-radius: 10px 0 0 10px;
}

.match .matchdata .champion {
    padding: 10px;
}

.match .matchdata .champion img {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

.match .matchdata .text {
    padding: 10px;
    color: var(--light0);
    font-size: 1rem;
    width: 150px;
}

.match .matchdata .text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.match .matchdata .text p.wintext {
    font-weight: bold;
    color: var(--wintype);
    padding-bottom: 10px;
    text-transform: capitalize;
}

.match .matchdata .text p.wintext>span {
    font-size: .8rem;
    color: var(--light3);
    font-weight: normal;
}

.match .matchdata .text p.gamemode {
    padding-bottom: 5px;
    color: var(--light2);
}

.match .matchdata .text p.date {
    color: var(--light3);
    font-size: .8rem;
}

.match .matchdata .kda {
    width: 100px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.match .matchdata .kda>p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
    font-weight: bold;
    color: white;
}

.match .matchdata .items {
    width: 132px;
    padding: 10px 0;
}

.match .matchdata .items>img {
    width: 25px;
    margin: 2px;
    border-radius: 5px;
    height: 25px;
    float: left;
}

.match .challengedata {
    float: left;
    width: 50%;
    height: 80px;
    display: flex;
}

.match .challengedata .progress {
    margin: 5px 5px 5px 10px;
    width: 80px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark1);
    border-radius: 5px;
}

.match .challengedata .progress>p {
    color: var(--light2);
    font-size: .7rem;
    width: 100%;

    padding: 5px 5px;
    box-sizing: border-box;

}



.match .challengedata .progress>p>span {
    width: 100%;
    float: left;
    color: white;
    font-weight: bold;
    font-size: .9rem;
    display: block;
}

.match .challengedata .progressed {
    display: flex;
    float: left;
    overflow: hidden;
    width: 365px;
}

.match .challengedata .button {
    width: 30px;
    height: 80px;
    border-radius: 0 10px 10px 0;
    background-color: var(--dark1);
}

.match .challengedata .progressed>div {

    height: 80px;
    width: 50px;
    padding: 15px 5px;
}

.match .challengedata .progressed p {
    width: 100%;
    font-size: .8rem;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.match .challengedata .progressed img {
    height: 30px;
    margin: 0 10px;
    width: 30px;
}