.background {
    height: calc(100vh - 60px);
    filter: brightness(0.65);
    width: 100%;
    position: absolute;
    z-index: 0;
}

.start {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    z-index: 1;
    position: absolute;
    position: relative;
}

.start h1 {
    font-size: 2.2rem;
    width: 100%;
    float: left;
    text-align: center;
    text-shadow: 0 0 5px black;
    padding-top: calc(50vh - 150px);
}

.start h2 a:hover {
    text-decoration: underline;
}

.start h2 a {
    text-decoration: none;
    color: #fff;
}

.start h2 {
    font-weight: 400;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 1.6rem;
    text-shadow: 0 0 5px black;
}

.start h1 span {
    font-size: 3.3rem;
}

.start .searchbar {
    width: 100%;
    position: relative;
    margin-top: 40px;
    float: left;
}

.start .searchbar i {
    font-size: 16px;
    color: #000;
    z-index: 1;
    margin-left: 730px;
    margin-top: 2px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
}

.start .searchbar input {
    background: #fff;
    width: 500px;
    margin: 0 230px;
    font-size: 16px;
    border-radius: 24px;
    padding: 12px 20px;
    border: none;
    outline: 0;
    box-shadow: 0 0 3px black;
}

.start .searchbar input:focus {
    border: 2px solid #0cbdf7;
    padding: 10px 18px;
    box-shadow: 0 0 8px 2px #0cbdf7;
}

.start .serverselector,
.filter {
    width: 50%;
    margin: 20px 25% 0;
    flex-wrap: wrap;
    float: left;
    display: flex;
    justify-content: space-evenly;
}

.filter {
    margin: 5px 20%;
}

.start .serverselector .region,
.filterOption {
    background: var(--dark0);
    width: 40px;
    margin: 0 calc(6.25% - 25px) 5px;
    box-shadow: 0 0 5px black;
    color: #bbb;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 1rem;
    padding: 5px;
}

.start .serverselector .region:hover,
.filterOption:hover {
    background-color: var(--dark2);
}

.filterOption {
    min-width: 40px;
    width: auto;
    padding: 5px 10px;
    background: var(--dark1);
}

.world > .world,
.br > .br,
.euw > .euw,
.eune > .eune,
.jp > .jp,
.kr > .kr,
.lan > .lan,
.las > .las,
.na > .na,
.oc > .oc,
.ru > .ru,
.tr > .tr,
.ph > .ph,
.th > .th,
.vn > .vn,
.tw > .tw,
.sg > .sg,
.me > .me,
.start .serverselector .region.selected {
    background: var(--selected);
    color: #fff;
    box-shadow: 0 0 8px 2px var(--selected);
}

.recentlySearched {
    width: 460px;
    margin: 0 270px;
    position: absolute;
    box-sizing: border-box;
    z-index: 999999;
    border-radius: 0 0 10px 10px;
}

.recentlySearched:hover {
    display: block !important;
}

a.searchedUser {
    width: 100%;
    float: left;
    box-sizing: border-box;
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 13px 10px;
    border-bottom: 1px solid var(--light2);
    border-left: 2px solid var(--selected);
    border-right: 2px solid var(--selected);
}

a.searchedUser:hover {
    background: var(--light2);
}

a.searchedUser span.userRegion {
    font-size: 0.6rem;
    color: var(--dark2);
    margin-left: 2px;
}

a.searchedUser:first-child {
    border-top: 2px solid var(--selected);
}

a.searchedUser:last-child {
    border-bottom: 2px solid var(--selected);
    border-radius: 0 0 8px 8px;
}

a.searchedUser p {
    padding-left: 30px;
    font-size: 0.8rem;
}

a.searchedUser img {
    height: 26px;

    border-radius: 5px;
    width: 26px;
}

a.searchedUser > span {
    margin-top: calc(0.4rem - 13px);
    position: absolute;
}

@media only screen and (max-width: 1100px) {
    .start .searchbar input {
        width: calc(90% - 40px);
        margin: 0 5%;
    }

    .recentlySearched {
        width: 80%;
        margin: 0 10%;
    }

    .start .searchbar i {
        margin-left: calc(100% - 5% - 50px);
    }
}

@media only screen and (max-width: 900px) {
    .start .serverselector {
        width: 90%;
        margin: 20px 5% 0;
    }
}

@media only screen and (max-width: 600px) {
    .recentlySearched {
        display: none !important;
    }
}

@media only screen and (max-width: 1700px) {
    .start .serverselector:nth-child(2n + 1) {
        margin-bottom: 170px !important;
    }
}
