.survey {
   position: fixed;
   z-index: 500;
   width: 300px;
   height: 130px;

   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;

   top: calc(100vh - 155px);
   left: calc(100% - 325px);
   background-color: var(--dark0);
   border: 2px solid var(--selected);
   box-shadow: 0 0 15px var(--selected);
   border-radius: 10px;
}

@media only screen and (max-width: 600px) {
   .survey {
      display: none;
   }
}

.survey i {
   position: absolute;
   top: 10px;
   font-size: 1rem;
   color: white;
   cursor: pointer;
   right: 15px;
}

.survey i:hover {
   color: red;
}


p.title {
   font-size: 1rem;
   color: white;
   font-weight: bold;
   width: calc(100% - 20px);
   padding: 0 10px;
}

p.description {
   font-size: .8rem;
   color: white;
   padding: 0 10px;
}

.survey a {
   background: var(--dark3);
   color: #fff;
   box-shadow: 0 0 8px 2px var(--dark3);
   text-decoration: none;
   border-radius: 10px;
   padding: 10px;
   margin: 0 auto;
   transition: .25s;
}

.survey a:hover {
   background-color: var(--selected);
   box-shadow: 0 0 8px 2px var(--selected);
}