@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.profile {
    width: 100%;
    float: left;
}

.profile>img {
    height: 94px;
    border: 3px solid var(--type, white);
    width: 94px;
    float: left;
    box-shadow: 0 0 15px var(--type);
    margin: 20px 10px;
    border-radius: 10px;
    background: linear-gradient(110deg, var(--side) 8%, var(--dark) 18%, var(--side) 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.profile>h1 {
    color: white;
    font-size: 2rem;
    float: left;
    margin: 20px 5px 5px;
    width: calc(100% - 130px);
}

.profile>h1>span {
    font-size: 0.8rem;
    color: rgb(157, 156, 156);
    font-weight: normal;
}

.profile>h2,
.profile>h2>span {
    display: block;
    color: var(--type);
    font-size: 1rem;
    font-weight: 500;
    float: left;
    cursor: help;
    margin: 0px 5px 5px;
}

.c.profile>h2 {
    max-width: calc(100% - 150px);
}

.profile>h2:hover>div,
.profile>div>div:hover>div {
    visibility: visible;
}

.profile>div {
    float: left;
}

.profile>div:not(.thresholds)>div {
    height: 38px;
    width: 38px;
    margin: 0 5px;
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 50%;
    cursor: help;
}

.profile>h2>div>b,
.profile>div>div>div>b {
    font-size: 0.8rem;
    display: inline-block;
    padding-bottom: 5px;
}

.profile>h2>div>i,
.profile>div>div>div>i {
    font-size: 0.8rem;
}

.profile>h2>div,
.profile>div>div>div {
    cursor: AUTO;
    border-radius: 5px;
    color: white;
    z-index: 5;
    border: 2px solid var(--type);
    background-color: #111113;
    margin-top: 22px;
    padding: 10px;
    margin-left: 20px;
    visibility: hidden;
    width: 200px;
    font-weight: normal;
    position: absolute;
}

.profile>div>div>div {
    margin-top: 42px !important;
    margin-left: 25px;
}


.selections {
    width: calc(100% - 130px);
}

.challenge {
    width: 220px;
    box-sizing: border-box;
    padding: 10px;
    background-position: 10% right;
    background-size: 360%;
    margin: 8px 15px;
    overflow: hidden;
    border-radius: 5px;
    height: 150px;
    background-color: var(--side);
    border: 2px solid var(--type);
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.parent {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    color: white;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
}

.title>span {
    color: rgb(157, 156, 156);
    font-weight: normal;
    display: block;
    width: 100%;
    font-size: 0.8rem;
}

.challenge img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 130px;
    margin-top: 12px;
    filter: brightness(0.6);
    transition: .25s linear filter;
}

.challenge img:hover,
.challenge.overview .tags>div:hover i {
    filter: brightness(1);
}

.challenge.overview .title>span {
    text-transform: capitalize;
}

.challenge.overview .tags {
    position: absolute;
    margin-top: 5px;
}

.challenge.overview .tags>div>img {
    width: 25px;
    height: 25px;
    margin: 0;
    position: relative;
}

.challenge.overview .tags>div>i {
    width: 25px;
    height: 25px;
    margin: 0;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
    position: relative;
    color: white;
    filter: brightness(0.6);
    transition: .25s linear filter;
}

.challenge.overview .tags>div {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.challenge.overview .tags>div>p {
    width: 160px;
    background-color: #111113;
    padding: 3px;
    border: 2px solid black;
    visibility: hidden;
    margin-top: 28px;
    line-height: 1rem;
    margin-left: -70px;
    box-shadow: 0 0 3px rgb(62, 62, 62);
    position: absolute;
    z-index: 5;
    font-size: 0.8rem;
    color: white;
    border-radius: 5px;
}

.challenge.overview .tags>div:hover>p {
    visibility: visible;
}

.description {
    color: rgb(203, 200, 200);
    font-size: 0.8rem;
    width: 100%;
    margin-top: 4px;
    max-height: 66px;
    height: 66px;
    overflow: hidden;
}

.personalProgress,
.percentiles {
    width: calc(100% - 20px);
    margin-left: 10px;
    float: left;
    height: 50px;
}

.progress {
    width: 120px;
    height: 6px;
    border-radius: 3px;
    margin: 22px 0;
    background-color: rgb(208, 208, 208);
}

.personalProgress .progress {
    width: 100px;
}

.progress .text {
    position: absolute;
    font-size: 0.8rem;
    color: white;
    margin-top: -15px;
}

.indicator {
    min-width: 5px;
    max-width: 122px;
    position: absolute;
    margin-left: -1px;
    height: 6px;
    border-radius: 4px;
    background-color: var(--type);
}

.FIRST,
.pos1 {
    box-shadow: 0 0 20px 0 var(--type);
}

.CROWN,
.MAXED {
    box-shadow: 0 0 15px -2px var(--type)
}

.filter button {
    border: none;
    cursor: pointer;
    float: left;
    color: white;
    font-size: 0.8rem;
    background: none;
    outline: none;
    margin: 5px 10px;
}

.level>.level,
.levelup>.levelup,
.timestamp>.timestamp,
.percentile>.percentile,
.alphabetic-a-z>.alphabetic-z-a,
.alphabetic-z-a>.alphabetic-a-z,
.titles>.titles,
.world>.world,
.br>.br,
.euw>.euw,
.eune>.eune,
.jp>.jp,
.kr>.kr,
.lan>.lan,
.las>.las,
.na>.na,
.oc>.oc,
.tr>.tr,
.newLine>.selected {
    color: #fcba03;
}

.newLine {
    float: left;
    width: 100%;
}

/* CHALLENGE OVERVIEW */
.profile.c>img {
    border-radius: 50%;
    box-shadow: 0 0 0 transparent;
    position: relative;
    background: none;
    border: 3px solid transparent;
}

.profile.c {
    position: relative;
}

.profile.c::before {
    height: 80px;
    width: 80px;
    margin: 30px 20px;
    content: '';
    z-index: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 20px 5px var(--type);
    position: absolute;
    border-radius: 50%;
}

.profile>.thresholds {
    width: calc(100% - 140px);
    margin-left: 3px;
    margin-top: 5px;
}

.profile>.thresholds>div {
    float: left;
    min-width: 10px;
    color: white;
    margin: 0 3px;
    font-size: 0.7rem;
}

.profile>.thresholds>div>i {
    color: var(--type);
    margin: 0 3px 0 7px;
}

.profile.c>div>div>div {
    margin-top: 10px !important
}

@media only screen and (max-width:1050px) {
    .profile.c>div>div>div {
        margin-left: -180px
    }
}

.parent .disabledMessage {
    width: 80%;
    box-sizing: border-box;
    margin: 50px 10%;
    text-align: center;
    color: white;
    font-size: 1rem;
    border: 2px solid var(--type);
    border-radius: 10px;
    padding: 20px;
}

.parent .disabledMessage .details {
    font-size: 0.8rem;
}

.parent>a.challenge>p.values {
    text-align: center;
    margin-top: 36px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.parent>a.challenge>.position {
    font-size: 0.7rem;
    color: white;
    z-index: 0;
    text-align: center;
    overflow: hidden;
    position: absolute;
    width: 45px;
    line-height: 1;
    margin: -20px 0 0 165px;
    border-radius: 5px;
    border: 2px solid var(--type);
    background: #111113;
    padding: 8px 0;
}

.parent>a.challenge.top10>.position,
.parent>a.challenge.pos1>.position {
    font-size: 1rem;
}

.parent>a.challenge.top100>.position {
    font-size: 0.85rem;
}

.disabledMessage a {
    color: white;
}

.percentiles {
    height: 8px;
    margin-bottom: 10px;
}

.challengePercentile {
    height: 8px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    background-color: black;
    position: static;
    overflow: hidden;
    white-space: nowrap;
}

.challengePercentile .percent {
    float: right;
    width: calc(var(--width) * 100%);
    height: 8px;
    transition: 0.25s width;
    background-color: var(--type);
}

.challengePercentile .percentileHover {
    position: absolute;
    background-color: #111113;
    padding: 3px;
    border: 2px solid black;
    color: white;
    font-size: 0.8rem;
    border-radius: 8px;
    visibility: hidden;
    z-index: 10;
    max-width: 50%;
    margin-top: -50px;
    box-shadow: 0 0 3px #3e3e3e;
}

.challengePercentile:hover .percentileHover {
    visibility: visible;
}

.challengePercentile .percentileHover>div {
    float: left;
    margin: 10px;
}

.challengePercentile .percentileHover>div>i {
    color: var(--type);
    margin-right: 10px;
}

.rowParent {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    background-color: var(--side);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.rowParent table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.rowParent table th {
    font-weight: normal;
    font-size: 0.8rem;
    padding: 15px 0 5px
}

.rowParent table td {
    padding: 8px 10px;
}

.rowParent table tr td:nth-child(1),
.rowParent table tr th:nth-child(1) {
    width: 10%;
    border-radius: 5px 0 0 5px;
}

.rowParent table tr td:nth-child(2),
.rowParent table tr th:nth-child(2) {
    width: 30%;
}

.rowParent table tr td:nth-child(3),
.rowParent table tr th:nth-child(3) {
    width: 15%;
}

.rowParent table tr td:nth-child(4),
.rowParent table tr th:nth-child(4) {
    width: 30%;
}

.rowParent table tr td:nth-child(5),
.rowParent table tr th:nth-child(5) {
    width: 15%;
    border-radius: 0 5px 5px 0;
}

.rowParent table tr th:nth-child(5) {
    text-align: left;
    padding-left: 10px;
}

.rowParent table tr {
    background: var(--side);
    color: white;
    width: 100%;
    font-size: 0.8rem;
}

.rowParent table tr:nth-child(even) {
    background: var(--dark);
}

.rowParent table tr td:nth-child(1) {

    color: var(--dborder)
}

.rowParent table tr td:nth-child(2) {
    color: white;
    font-size: 0.8;
    overflow: hidden;
}


.rowParent table tr td:nth-child(2)>a {
    text-decoration: none;
    color: white;
}

.rowParent table tr td:nth-child(2)>a:hover>p {
    text-decoration: underline;
}

.rowParent table tr td:nth-child(2)>a>span {
    float: left;
    overflow: hidden;
    border-radius: 5px;
}

.rowParent table tr td:nth-child(2)>a>p {
    float: left;
    font-size: 1rem;
    padding: calc(calc(30px - 1rem) * 0.5)
}

.rowParent table tr td:nth-child(2)>a>p>span {
    color: var(--dborder);
    font-size: 0.8rem;
}

.rowParent table tr td:nth-child(3) {
    text-align: center;
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--type)
}

.rowParent table tr td:nth-child(4) {
    font-size: 1rem;
    text-align: center;
}

.rowParent table tr td:nth-child(5) {
    font-size: 0.8rem;
    color: var(--dborder);

}

.rowParent .disabledMessage {
    border: 2px solid var(--type);
    width: 80%;
    margin: 20px 10%;
    border-radius: 10px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.challenge.loading,
.rowParent table.loading {
    background: linear-gradient(110deg, var(--side) 8%, var(--dark) 18%, var(--side) 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.rowParent table tr.loading {
    background-color: transparent !important;
}

@media only screen and (max-width: 1050px) {
    .rowParent {
        background: transparent;
    }

    .rowParent table tr td:nth-child(5),
    .rowParent table tr th:nth-child(5) {
        display: none
    }

    .rowParent table tr td:nth-child(2),
    .rowParent table tr th:nth-child(2) {
        width: 40%;
    }

    .rowParent table tr td:nth-child(4),
    .rowParent table tr th:nth-child(4) {
        width: 35%;
    }

    .rowParent table th {
        padding: 8px 0;
    }
}