@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

a.uggarea {
    display: inline-block;
}

img.ugglogo {
    border-left: 2px solid var(--light2);
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
    height: 1.2rem;
    width: 3.6rem;
}

.profile {
    width: 100%;
    float: left;
}

.legal {
    font-size: .8rem;
    color: var(--light2);
    width: calc(100% - 30px);
    float: left;
    margin: 10px 15px;
}

.legal a {
    color: white;
}

.profile>img {
    height: 94px;
    border: 3px solid var(--type, white);
    width: 94px;
    float: left;
    box-shadow: 0 0 15px var(--type);
    margin: 20px 10px;
    border-radius: 10px;
    background: linear-gradient(110deg, var(--dark1) 8%, var(--dark2) 18%, var(--dark1) 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.profile>h1 {
    color: white;
    font-size: 2rem;
    float: left;
    margin: 20px 5px 5px;
    width: calc(100% - 130px);
}

.profile>h1>span {
    font-size: 0.8rem;
    color: rgb(157, 156, 156);
    font-weight: normal;
}

.profile>h2,
.profile>p.challengeDescription,
.profile>h2>span {
    display: block;
    color: var(--type);
    font-size: 1rem;
    font-weight: 500;
    float: left;
    cursor: help;
    margin: 0px 5px 5px;
}

.c.profile>h2,
.profile>p.challengeDescription {
    max-width: calc(100% - 150px);
}

.profile>h2:hover>div,
.profile>div>div:hover>div {
    visibility: visible;
}

.profile>div {
    float: left;
}

.profile>div:not(.thresholds)>div {
    height: 38px;
    width: 38px;
    margin: 0 5px;
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 50%;
    cursor: help;
}

.profile>h2>div>b,
.profile>div>div>div>b {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    color: var(--light0)
}

.profile>h2>div>i,
.profile>div>div>div>i {
    font-size: 0.8rem;
}

.profile>h2>div,
.profile>div>div>div {
    cursor: AUTO;
    border-radius: 5px;
    color: var(--light2);
    font-size: .8rem;
    z-index: 5;
    border: 2px solid var(--type);
    background-color: var(--dark1);
    margin-top: 22px;
    padding: 10px;
    margin-left: 20px;
    visibility: hidden;
    width: 200px;
    font-weight: normal;
    position: absolute;
}

.profile>div>div>div {
    margin-top: 42px !important;
    margin-left: 25px;
}


.selections {
    width: calc(100% - 130px);
}

.parent {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    flex-wrap: wrap;
    justify-content: space-around;
}


.filter button {
    border: none;
    cursor: pointer;
    float: left;
    color: white;
    font-size: 0.8rem;
    background: none;
    outline: none;
    margin: 5px 10px;
}

.level>.level,
.levelup>.levelup,
.timestamp>.timestamp,
.percentile>.percentile,
.alphabetic-a-z>.alphabetic-z-a,
.alphabetic-z-a>.alphabetic-a-z,
.titles>.titles,
.newLine>.selected {
    color: #fcba03;
}

.newLine {
    float: left;
    width: 100%;
}

/* CHALLENGE OVERVIEW */
.profile.c>img {
    border-radius: 50%;
    box-shadow: 0 0 0 transparent;
    position: relative;
    background: none;
    border: 3px solid transparent;
}

.profile.c {
    position: relative;
}

.profile.c:not(.cid0):not(.cid1):not(.cid2):not(.cid3):not(.cid4):not(.cid5):not(.cid2022000)::before {
    height: 80px;
    width: 80px;
    margin: 30px 20px;
    content: '';
    z-index: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 20px 5px var(--type);
    position: absolute;
    border-radius: 50%;
}

.profile>.thresholds {
    width: calc(100% - 140px);
    margin-left: 3px;
    margin-top: 5px;
}

.profile>.thresholds>div {
    float: left;
    min-width: 10px;
    color: white;
    margin: 0 3px;
    font-size: 0.7rem;
}

.profile>.thresholds>div>i {
    color: var(--type);
    margin: 0 3px 0 7px;
}

.profile.c>div>div>div {
    margin-top: 10px !important
}

@media only screen and (max-width:1050px) {
    .profile.c>div>div>div {
        margin-left: -180px
    }

    .profile:not(.c)>div>div>div {
        display: none;
    }

    .profile:not(.c)>div>div {
        cursor: auto;
    }
}

.disabledMessage {
    width: 80%;
    box-sizing: border-box;
    margin: 20px 10%;
    text-align: center;
    color: var(--light2);
    font-size: .8rem;
    background: var(--dark1);
    border: 2px solid var(--type, #d9463c);
    border-radius: 10px;
    padding: 15px;
    float: left;
}


.disabledMessage .details {
    font-size: 0.8rem;
}

.parent>a.challenge>p.values {
    text-align: center;
    margin-top: 36px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.parent>a.challenge>.position {
    font-size: 0.7rem;
    color: white;
    z-index: 0;
    text-align: center;
    overflow: hidden;
    position: absolute;
    width: 45px;
    line-height: 1;
    margin: -20px 0 0 165px;
    border-radius: 5px;
    border: 2px solid var(--type);
    background: #111113;
    padding: 8px 0;
}

.parent>a.challenge.top10>.position,
.parent>a.challenge.pos1>.position {
    font-size: 1rem;
}

.parent>a.challenge.top100>.position {
    font-size: 0.85rem;
}

.disabledMessage a {
    color: white;
}

.percentiles {
    height: 8px;
    margin-bottom: 10px;
}

.challengePercentile {
    height: 8px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    background-color: black;
    position: static;
    overflow: hidden;
    white-space: nowrap;
}

.challengePercentile .percent {
    float: right;
    width: calc(var(--width) * 100%);
    height: 8px;
    transition: 0.25s width;
    background-color: var(--type);
}

.challengePercentile .percentileHover {
    position: absolute;
    background-color: #111113;
    padding: 3px;
    border: 2px solid black;
    color: white;
    font-size: 0.8rem;
    border-radius: 8px;
    visibility: hidden;
    z-index: 10;
    max-width: 50%;
    margin-top: -50px;
    box-shadow: 0 0 3px #3e3e3e;
}

.challengePercentile:hover .percentileHover {
    visibility: visible;
}

.challengePercentile .percentileHover>div {
    float: left;
    margin: 10px;
}

.challengePercentile .percentileHover>div>i {
    color: var(--type);
    margin-right: 10px;
}

.rowParent {
    width: 600px;
    margin: 10px;
    background-color: var(--dark1);
    padding: 10px;
    float: left;
    box-sizing: border-box;
    border-radius: 10px;
}

.rowParent.thresholdTable {
    background-color: var(--dark1);
    width: calc(100% - 20px);
    margin: 10px;
}


.rowParentTableRow p {
    width: 40%
}

.rowParentTableRow p:nth-child(3) {
    width: 20%
}

.rowParent table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.rowParentTable {
    width: 100%;
}

.rowParentTableRow {
    width: 100%;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid var(--dark3);
    padding: 8px 10px;
}

.rowParentTableRow:last-child {
    border-bottom: 1px solid transparent;
}

.rowParentTableRow p {
    float: left;
    color: white;
    font-size: .8rem;
    text-align: center;
    display: block;
}

.rowParentTableRowHeading {
    padding: 0 10px;
}

.rowParent table th,
.rowParentTableRowHeading p {
    font-weight: bold;
    font-size: 0.7rem;
    color: var(--light3);
    padding: 5px 0
}

.rowParent table td {
    padding: 8px 10px;
}

.rowParent table tr td:nth-child(1),
.rowParent table tr th:nth-child(1) {
    width: 10%;
    border-radius: 5px 0 0 5px;
}

.rowParent table tr td:nth-child(2),
.rowParent table tr th:nth-child(2) {
    width: 42%;
}

.rowParent table tr td:nth-child(3),
.rowParent table tr th:nth-child(3) {
    width: 13%;
}

.rowParent table tr td:nth-child(4),
.rowParent table tr th:nth-child(4) {
    width: 35%;
    border-radius: 0 5px 5px 0;
}


.rowParent table tr th:nth-child(5) {
    text-align: left;
    padding-left: 10px;
}

.rowParent table tr {
    background: var(--dark1);
    color: white;
    width: 100%;
    font-size: 0.8rem;
}

.rowParent.zebra table tr:nth-child(even) {
    background: var(--dark0);
}

.rowParent:not(.zebra) table tr:not(:first-child) {
    border-top: 1px solid var(--dark3);
}

.rowParent table tr td:nth-child(1) {

    color: var(--light2)
}

.rowParent table tr td:nth-child(2) {
    color: white;
    font-size: 0.8;
    overflow: hidden;
}


.rowParent table tr td:nth-child(2)>a {
    text-decoration: none;
    color: white;
}

.rowParent table tr td:nth-child(2)>a:hover>p {
    text-decoration: underline;
}

.rowParent table tr td:nth-child(2)>a>span {
    float: left;
    overflow: hidden;
    border-radius: 5px;
}

.rowParent table tr td:nth-child(2)>a>p {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    padding: calc(calc(30px - 1rem) * 0.5)
}

.rowParent table tr td:nth-child(2)>a>p>span {
    color: var(--light2);
    margin-left: 3px;
    font-size: 0.8rem;
}

.rowParent table tr td:nth-child(3) {
    text-align: center;
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--type)
}

.rowParent table tr td:nth-child(4) {
    font-size: 1rem;
    text-align: center;
}

.rowParent table tr td:nth-child(5) {
    font-size: 0.8rem;
    color: var(--light2);

}



.loadinganimation,
.rowParent table.loading {
    background: linear-gradient(110deg, var(--dark1) 8%, var(--dark2) 18%, var(--dark1) 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.rowParent table tr.loading {
    background-color: transparent !important;
}

.rowParent .seoArea {
    width: 100%;
    padding: 5px 0 10px;
    border-bottom: 2px solid var(--dark0);
    margin: 0 0 10px;
    box-sizing: border-box;
    float: left;
}

.rowParent .seoArea h2 {
    font-size: 1rem;
    color: white;
    white-space: nowrap;
    float: left;
    font-weight: 400;
}

.rowParent .seoArea span {
    display: block;
    float: left;
    margin: .2rem 0 0 10px;
    font-size: 0.8rem;
    color: var(--light2)
}

.placeholder {
    width: 100%;
    height: 320px;
    border-radius: 5px;
    float: left;
}

.placeholder.loading {
    background: linear-gradient(110deg, var(--dark1) 8%, var(--dark2) 18%, var(--dark1) 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

span.availableTitle {
    width: 100%;
    display: block;
    font-size: 1rem;
    color: var(--type);
    margin: 5px 0 0 5px;
}

span.availableTitle img {
    width: 1rem;
    float: left;
    margin-right: 3px;
    height: 1rem;
}


.rowParent.field {
    width: 360px;
}

.leaderboardsLeft {
    width: 380px;
    float: left;
}

.field>p {
    font-size: .9rem;
    color: var(--light2);
    padding: 0 10px;
    line-height: 1.2;
}

@media only screen and (max-width: 1050px) {
    .rowParent {
        width: 100%;
        background: transparent;
        overflow: auto;
        margin: 10px 0;
    }

    .leaderboardsLeft {
        width: 100%;
    }

    .rowParent table tr td:nth-child(2),
    .rowParent table tr th:nth-child(2) {
        width: 40%;
        white-space: nowrap;
    }

    .rowParent table tr td:nth-child(4),
    .rowParent table tr th:nth-child(4) {
        width: 35%;
    }

    .rowParent table th {
        padding: 8px 0;
    }
}

@media only screen and (max-width:970px) {
    .miniFlex {
        height: 320px;
        width: 100%;
        float: left;
        justify-content: center;
        display: flex;
    }
}

.categories {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    float: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .category:first-of-type {
    box-shadow: 0 0 5px 2px var(--dark2);
} */


.category {
    margin: 2px 0;
    box-sizing: border-box;
    background: var(--dark1);
    padding: 10px;
    border-radius: 10px;
    width: 140px;
}

.category>p>img {
    height: 1rem;
    width: 1rem;
    vertical-align: bottom;
    margin-right: 5px;
}

.category>div {
    margin: 22px 10px 0;
}

.category>div>p {
    text-align: center;
    width: 100px;
}

.category>p {
    font-size: 1rem;
    color: white;
    text-align: center;
    width: 100%;
}

.flexWidth {
    width: 750px
}

@media only screen and (max-width:1050px) {
    .flexWidth {
        width: 100%;
    }
}