.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;

   min-height: 100mvh;
   min-height: 100vh;

   .intro {
      padding-bottom: 1rem;
   }

   .details {
      color: color.$heading;
      font-size: config.$font-large;
   }
}
