$dark0: rgb(20, 20, 30) !default;
$dark1: rgb(28, 28, 38) !default;
$dark2: rgb(34, 34, 44) !default;
$dark3: rgb(50, 50, 60) !default;
$selected: rgb(13, 189, 255) !default;
$light0: #fff !default;
$light1: #fff !default;
$light2: rgb(206, 206, 210) !default;
$light3: rgb(180, 180, 184) !default;

/* color variables */
$win: #4287f5 !default;
$loss: #eb4034 !default;
$good: #2abf52 !default;
$perfect: #fcba03 !default;

$dark3transparent: rgb(50, 50, 60, 0.4) !default;

$primary: rgb(13, 189, 255) !default;

$background: rgb(21, 21, 25) !default;
$accent: rgb(28, 28, 38) !default;

$border: rgb(50, 50, 60) !default;

$content-width: 1050px !default;
$header-width: 70px !default;

$font-small: 0.85rem !default;
$font-default: 1rem !default;
$font-large: 1.25rem !default;
$font-heading: 2.5rem !default;

$text: white !default;
$text-secondary: rgb(230, 230, 230) !default;
$text-tertiary: rgb(190, 190, 190) !default;

$border-radius: 8px !default;
