$dark0: rgb(20, 20, 24) !default;
$dark1: rgb(28, 28, 32) !default;
$dark2: rgb(34, 34, 38) !default;
$dark3: rgb(50, 50, 54) !default;
$selected: rgb(13, 189, 255) !default;
$light0: #fff !default;
$light1: #fff !default;
$light2: rgb(206, 206, 210) !default;
$light3: rgb(200, 200, 204) !default;

/* color variables */
$win: #4287f5 !default;
$loss: #eb4034 !default;
$good: #2abf52 !default;
$perfect: #fcba03 !default;