@import "variables";

a.challenge {
   grid-gap: 5px;
   align-items: center;
   background-color: var(--dark1);
   border-radius: 10px;
   box-sizing: border-box;
   color: var(--light0);
   display: grid;
   grid-template-columns: 40px calc(50% - 90px) 20px calc(50% - 90px) 120px;
   height: 60px;
   margin: 5px;
   overflow: hidden;
   padding: 10px;
   position: relative;
   text-decoration: none;
   transition: background-color .2s linear;
   width: calc(100% - 10px);

   &:hover {
      background-color: var(--dark2);
   }

   img {
      color: transparent;
      display: inline-block;
      height: 40px;
      width: 40px;

      &.unranked {
         opacity: 0.3;
      }
   }

   .group {
      .title {
         font-size: 1rem;
         max-width: 100%;
         overflow: hidden;
         padding: 0 5px 5px;
         text-overflow: ellipsis;
         white-space: nowrap;
      }

      .subtitle {
         color: var(--light3);
         font-size: .8rem;
         max-width: 100%;
         overflow: hidden;
         padding: 0 5px;
         text-overflow: ellipsis;
         text-transform: capitalize;
         white-space: nowrap;
      }
   }

   .modes {
      display: flex;
      flex-direction: column;
      float: left;
      height: 40px;
      justify-content: center;
      overflow: hidden;
      width: 20px;

      img {
         filter: brightness(.6);
         font-size: 14px;
         height: 20px;
         text-align: center;
         width: 20px;
      }
   }

   .description {
      display: flex;

      p {
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         color: var(--light3);
         display: -webkit-box;
         font-size: 12px;
         line-height: 13px;
         max-height: 40px;
         overflow: hidden;
         text-overflow: ellipsis;
         width: 100%;
      }
   }

   .tier {
      color: var(--type);
      font-size: .8rem;
      text-align: center;
      white-space: nowrap;
   }

   .progress {
      background-color: var(--type);
      border-radius: 0 0 5px 5px;
      bottom: 0;
      height: 5px;
      left: 0;
      max-width: 100%;
      position: absolute;
      width: 0;
   }
}
