.heading {
  width: 100%;
  float: left;

  h1 {
    padding: 20px 0 5px 10px;
    font-size: 2rem;
    color: white;
  }

  h2 {
    font-size: 1.4rem;
    padding-left: 20px;
    font-weight: normal;
    color: rgb(160, 160, 160);
  }
}

.crystal {
  width: calc(100% - 30px);
  margin: 8px 15px;
  height: 218px;
  border: 2px solid var(--type);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  overflow: hidden;
  min-height: 100px;
  transition: .25s box-shadow;
  box-shadow: 0 0 20px var(--type);
  background-color: var(--dark1);
  /*background-image: url(https://lolcdn.darkintaqt.com/s/ad.webp);*/

  :hover {
    box-shadow: 0 0 30px var(--type);
  }
}

.parent {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexWidth {
  width: 750px
}

@media only screen and (max-width:1050px) {
  .crystal {
    display: none;
  }

  .flexWidth {
    width: 100%;
  }
}