/*
 *
 * SCSS MODULE FOR
 * /challenges[challengeId].js
 *
 */
@import "variables";

.bgImage {
   position: absolute;
   width: 100%;
   height: 800px;

   background-position: center;
   background-size: cover;

   mask-image: linear-gradient(to top, transparent, black);

   img {
      object-fit: cover;
   }
}

.challenge {

   position: relative;

   width: 1000px;
   margin: 0 calc(50% - 500px);

   z-index: 5;

   display: flex;
   flex-direction: column;

   .head {
      width: 100%;
      position: relative;
      overflow: hidden;

      margin: 50px 0 10px;
      background-color: $dark3transparent;
      backdrop-filter: blur(10px);
      border-radius: 10px;

      padding: 20px;
      display: flex;

      &:hover .pin {
         visibility: visible;
      }

      >div {
         margin-left: 10px;

         h1 {
            font-size: 2rem;


            .pin {
               display: inline-block;
               border-radius: 25%;
               width: 2rem;
               height: 2rem;
               cursor: pointer;
               visibility: hidden;

               transition: .25s background-color, .25s border-radius, .25s transform;

               &.isPinned {
                  transform: translateY(-5px) translateX(-10px) rotate(25deg);
               }

               &:hover {

                  background-color: rgba(20, 20, 30, .5);
                  border-radius: 50%;

                  &.isPinned svg {
                     color: red;
                  }

               }

               svg {
                  width: 1rem;
                  height: 1rem;
                  margin: .5rem;
               }
            }
         }

         p {
            margin: 5px 0;
            width: fit-content;
            max-width: 850px;

            font-size: 1rem;
            line-height: 1.2rem;

            color: var(--type);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
         }

         .tags {

            display: flex;
            flex-wrap: wrap;

            .tag {

               border: none;
               outline: none;

               text-align: center;
               margin-right: 5px;

               padding: 5px 10px;
               border-radius: 10px;
               font-size: .8rem;
               color: $light3;

               &.title {
                  color: var(--type);
               }

               cursor: pointer;
               color: $light3;
               background-color: rgba(20, 20, 30, .5);

               &:hover {
                  background-color: rgba(28, 28, 38, .8);
               }

               a,
               span,
               p {
                  color: $light3;
               }

               a:hover {
                  text-decoration: underline;
                  transition: .25s color;
                  color: $light1;
               }

               .svg {
                  width: .8rem;
                  height: .8rem;
                  display: inline-flex;
                  align-self: center;

                  svg {
                     fill: $light3;
                     width: .8rem;
                     height: .8rem;
                     position: relative;
                     top: .125rem;
                  }
               }
            }
         }
      }

   }

   .objects {
      display: flex;
      justify-content: space-between;

      .thresholds,
      .info {
         width: 360px;
         position: relative;

         padding: 20px;
         background-color: $dark3transparent;
         backdrop-filter: blur(10px);
         border-radius: 10px;

         margin: 10px 0;

         &.info {
            margin-top: 30px;

            .disclaimer {
               p {
                  font-size: .9rem;
                  color: $light2;
                  line-height: 1.1rem;
                  text-align: justify;
                  padding: 10px 5px 0;
                  font-weight: 300;
               }

               .bugDisclaimer {
                  border-top: 1px solid $dark3;
                  margin-top: 10px;
                  padding-top: 10px;

                  h4 {
                     width: 100%;
                     color: $light0;

                     font-weight: 300;
                     font-size: 1rem
                  }

                  p {
                     span {
                        &.semi {
                           color: #fcba03;
                        }
                     }
                  }
               }
            }
         }

         >h3 {
            font-weight: 300;
            color: $light0;
            font-size: 1rem;

            span {
               color: $light2;
               font-size: .8rem;
            }
         }

         .table {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            >div {
               width: 100%;
               display: flex;
               align-items: center;
               padding: 8px 10px;
               border-radius: 5px;

               &:nth-child(even) {
                  background-color: $dark3transparent;
               }

               &.tableHead {
                  >p {
                     font-size: .7rem;
                     color: $light3;
                  }
               }

               >p {
                  flex: 1 0 30%;

                  text-align: center;
                  font-size: .8rem;
                  font-weight: 300;
                  text-transform: capitalize;

                  color: $light1;

                  &:nth-child(1) {
                     flex: 1 0 40%;
                  }
               }

            }
         }

      }

      .leaderboard {
         width: 600px;
         padding: 20px;
         position: relative;

         background-color: $dark3transparent;
         backdrop-filter: blur(10px);
         border-radius: 10px;
         margin: 10px 0;

         >h3 {
            font-weight: 300;
            color: $light0;
            font-size: 1rem;

            span {
               color: $light2;
               font-size: .8rem;
            }
         }

         .regionSelector {
            margin: 10px 0;
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            .region {
               flex: 1 0 calc(12.5% - 14px);

               border: none;
               outline: none;

               text-align: center;

               margin: 5px 7px 0;
               padding: 5px 8px;
               border-radius: 8px;
               font-size: .8rem;

               &.active {
                  background-color: $selected;
                  color: $light0;
                  box-shadow: 0 0 5px $selected;

                  &:hover {
                     box-shadow: 0 0 8px $selected;
                     background-color: $selected;
                  }
               }

               cursor: pointer;
               color: $light3;
               background-color: rgba(20, 20, 30, .5);

               &:hover {
                  background-color: rgba(28, 28, 38, 1);
               }
            }

         }

         table.table {
            width: 100%;

            table-layout: fixed;
            border-collapse: collapse;
            box-sizing: border-box;
            border-radius: 10px;
            margin: 10px 0 0;


            // This does not work
            // tr.heading th {
            //    top: 200px;
            //    z-index: 5;
            //    position: sticky;
            // }

            tr {
               color: white;
               width: 100%;
               font-size: 0.8rem;

               &:hover:not(.heading) {
                  background-color: $dark1;
               }

               &:nth-child(odd):not(.heading) {
                  background-color: $dark3transparent;

                  &:hover {
                     background-color: $dark3;
                  }
               }

               th {
                  font-size: .8rem !important;
                  font-weight: 400 !important;
                  color: $light2 !important;
               }

               td,
               th {
                  padding: 8px 10px;
                  position: relative;

                  &.pos {
                     width: 10%;
                     color: $light2;
                     border-radius: 5px 0 0 5px;
                  }

                  &.name {
                     width: 42%;

                     img {
                        float: left;
                        border-radius: 5px;
                     }

                     p {
                        font-weight: 300;
                        font-size: 1rem;
                        overflow: hidden;
                        padding: calc(15px - .5rem);
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        span {
                           color: $light2;
                           font-size: .75rem;
                        }
                     }

                     :hover p {
                        text-decoration: underline;
                     }
                  }

                  &.tier {
                     text-align: center;
                     color: var(--type);
                     font-weight: 300;
                     font-size: .8rem;
                  }

                  &.pts {
                     text-align: center;
                     font-size: 1rem;
                     font-weight: 300;
                     border-radius: 0 5px 5px 0;
                  }
               }
            }
         }
      }
   }
}