@import "variables";

a.challenge {

   box-sizing: border-box;
   padding: 10px;

   width: 100%;
   border-radius: 10px;

   transition: .25s linear background-color;
   background-color: $dark3transparent;
   margin: 5px 0;

   &:hover {
      background-color: $dark3;
   }

   img {
      height: 40px;
      width: 40px;
      float: left;
   }

   .title {
      float: left;
      margin: 0 10px;
      width: calc(100% - 60px - 60%);
      display: flex;
      justify-content: center;
      flex-direction: column;

      p {
         -webkit-line-clamp: 1;
         width: 100%;
         -webkit-box-orient: vertical;
         font-weight: 400;
         font-size: 1rem;
         overflow: hidden;
         line-height: 1.5rem;
         white-space: nowrap;

         text-overflow: ellipsis;
      }

      span {
         margin-top: 2px;
         font-weight: 300;
         font-size: .8rem;
         color: $light2;
      }

   }

   .description {
      float: left;
      width: 60%;

      p {
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         color: var(--light3);
         display: -webkit-box;
         font-size: 12px;
         margin: auto;
         line-height: 13px;
         max-height: 40px;
         overflow: hidden;
         text-overflow: ellipsis;
         width: 100%;
      }
   }

}