@import 'variables';

$width: 230px;

.headerPlaceholder {
   width: $width;
   transition: .25s width;

   &.collapsed {
      width: calc(20px + 2rem);
   }
}

.header {
   height: 100%;
   width: $width;
   box-sizing: border-box;
   border-right: 1px solid $dark3;

   box-shadow: 0 0 15px -5px #000;

   position: fixed;
   z-index: 15;
   overflow-x: hidden;

   background-color: $dark1;
   transition: .25s width;

   >a {

      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: $width;

      padding: 10px;


      &:hover {

         p {
            color: $selected;
         }
      }


      svg {
         height: 2rem;
         width: 2rem;
      }

      p {
         margin-left: 10px;


         white-space: nowrap;
         color: white;
         font-weight: bold;
         font-size: 1.2rem;
         font-family: var(--Source);
      }
   }


   .scrollSection {

      width: 100%;
      height: calc(100% - 130px);
      overflow-y: auto;
      overflow-x: hidden;

      a {
         display: flex;
         width: $width;
         align-items: center;

         padding: 20px 10px;
         overflow: hidden;

         color: $light3;
         white-space: nowrap;

         transition: .25s color;

         &.active {

            p,
            svg {
               color: $light0;
            }
         }


         p {
            padding: 0;
            margin: 0;
            flex: 1;
            color: $light3;
            font-size: 1rem;
            padding-left: 10px;

            transition: .25s color;
         }

         svg {
            color: $light3;
            text-align: center;
            width: 2rem;
         }

         &:hover {
            color: $light0;

            p {
               color: $light0;
            }
         }

      }

   }

   .footer {
      height: 50px;
      width: 100%;
      padding: 0 10px;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      border-top: 1px solid $dark3;

      button {
         width: 100%;
         background-color: $dark1;
         border: none;
         cursor: pointer;
         outline: none;

         display: flex;
         align-items: center;
         justify-content: center;

         border-radius: 3px;
         padding: 8px 10px;

         svg {
            width: 1.2rem;
            height: 1.2rem;
            color: white;
         }

         p {
            color: white;
            transition: .25s linear margin;
            font-weight: 300;
            font-size: .8rem;
            margin: 0 0 0 10px;
            padding: 0;
            line-height: .8rem;
            font-family: var(--Noto);
         }


         &:hover {
            background-color: $dark2;
            transition: .25s linear background-color;

            p {
               margin-left: 15px;
            }
         }
      }
   }

   &.collapsed {
      width: calc(20px + 2rem);

      .footer {
         padding: 0;

         button {
            margin: 0 auto;
         }

         p {
            display: none;
         }

         svg {
            transform: rotate(180deg);
         }
      }

      &:hover {
         width: $width;

         p,
         .scrollSection a p,
         .footer p {
            display: block;
         }

         .footer {
            padding: 0 10px;


            button {
               margin: 0;
            }
         }
      }
   }

   @media only screen and (max-height:500px) {

      .scrollSection {
         box-shadow: inset 0px -15px 15px -15px #000;
      }

   }

}