@import 'variables';

.start {
   height: 100%;
   width: 100%;
   position: relative;


   .bgwrapper {
      height: 100%;
      width: 100%;

      position: absolute;
      z-index: 5;

      filter: brightness(0.5);
      background-position: center;
      background-size: cover;

   }

   .wrapper {

      height: 100%;
      z-index: 10;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .heading {

         text-align: center;

         text-shadow: 0 0 5px #000;


         span {
            color: white;
            font-size: 2rem;
            font-weight: bold;
            display: block;
         }

         h1 {
            color: white;
            font-size: 4rem;
            margin: 0;
            padding: 0;
         }

      }

   }

   .searchbarWrapper {
      margin-top: 20px;

      &.active {
         .searchbar {
            background-color: $light0;

            input {
               color: #000;
               background-color: $light0;
            }

            i,
            select {
               color: #000;

               &:hover {
                  color: $dark3
               }
            }
         }
      }

      .searchbar {
         width: 600px;
         box-shadow: 0 0 5px #000;
         background-color: $dark2;
         border-radius: 10px;

         overflow: hidden;

         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: center;

         transition: .25s color, .25s background-color;

         input {
            flex: 1;
            background-color: $dark2;
            outline: none;
            border: none;
            font-size: 1rem;
            font-weight: 300;
            padding: 15px 20px;

            color: $light3;
            transition: .25s color, .25s background-color;


         }

         select {
            appearance: none;
            background-color: transparent;
            border: none;
            border-radius: 0;
            color: $light3;
            cursor: pointer;
            float: left;
            font-size: 1rem;
            outline: 0;
            width: 40px;

            &:hover {
               color: $light0;
            }

         }

         i {
            cursor: pointer;
            font-size: 1rem;
            padding: 15px 20px;
            color: $light3;

            &:hover {
               color: $light0;
            }

         }

      }

   }

}