@import 'variables';

.loader {
   height: 30px;
   width: 30px;
   font-size: 10px;
   position: relative;
   text-indent: -9999em;
   box-sizing: border-box;
   border-left: 3px solid $dark3;
   border-right: 3px solid $dark3;
   border-bottom: 3px solid $dark3;
   border-top: 3px solid $selected;
   transform: translateZ(0);
   animation: load 1.3s infinite cubic-bezier(.35, .72, .54, .90);
   border-radius: 50%;

   @keyframes load {
      from {
         transform: rotate(0deg)
      }

      to {
         transform: rotate(360deg)
      }
   }
}