.heading {
  padding: 20px 0 10px;
  font-size: 2rem;
  color: white;
}

.subheading {
  font-size: 1rem;
  color: var(--light2);
  padding-bottom: 10px;
}

.titles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

a.title {
  width: 320px;
  box-sizing: border-box;
  border: 2px solid var(--type);
  padding: 5px;
  margin: 10px 5px;
  background: var(--dark1);
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: visible;
}

.title>span {
  position: absolute;
  height: 45px;
  width: 45px;
  display: block;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  z-index: 1;
  left: 0;
  top: 0;
}

.titles .loading {
  font-size: 1rem;
  margin: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.title::before {
  height: 35px;
  width: 35px;
  margin: -10px 0 0 -10px;
  content: '';
  z-index: 0;
  box-shadow: 0 0 15px 5px var(--type);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.title>h2 {
  color: white;
  font-size: 1.2rem;
  flex: 0 0 45%;
  text-align: center;
  box-sizing: border-box;
}

.title>h2>span {
  font-size: .8rem;
  font-weight: normal;
  color: var(--light2);
}

.title>p:last-of-type>span {
  font-weight: bold;
}

.title>p {
  color: var(--light2);
  font-size: 0.8rem;
  width: 60%;
  min-height: 80px;
  border-left: 1px solid var(--type);
  box-sizing: border-box;
  padding: 10px;
  float: left;
}

.disclaimer {
  color: white;
  font-size: 0.8rem;
  margin: 20px 0;
}

@media only screen and (max-width:1050px) {

  .titles {
    padding: 0 20px;
  }

}