@import 'variables';

.head {
   width: 100%;
   position: relative;
   overflow: hidden;

   margin: 50px 0 10px;
   background-color: $dark3transparent;
   backdrop-filter: blur(10px);
   border-radius: 10px;

   padding: 20px;
   display: flex;

   >img {
      border: 3px solid var(--type);
      border-radius: 10px;
   }

   &:hover .pin {
      visibility: visible;
   }

   a.getHelp {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $light3;
      font-size: 1rem;

      &:hover {
         color: $light1;
      }
   }

   >div {
      margin-left: 10px;

      h1 {
         font-size: 2rem;


         .pin {
            display: inline-block;
            border-radius: 25%;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            visibility: hidden;

            transition: .25s background-color, .25s border-radius, .25s transform;

            &.isPinned {
               transform: translateY(-5px) translateX(-10px) rotate(25deg);
            }

            &:hover {

               background-color: rgba(20, 20, 30, .5);
               border-radius: 50%;

               &.isPinned svg {
                  color: red;
               }

            }

            svg {
               width: 1rem;
               height: 1rem;
               margin: .5rem;
            }
         }
      }

      p {
         margin: 5px 0;
         width: fit-content;
         max-width: 850px;

         font-size: 1rem;
         line-height: 1.2rem;

         color: var(--type);
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
      }

      .tags {

         display: flex;
         flex-wrap: wrap;

         .tag {

            border: none;
            outline: none;

            text-align: center;
            margin-right: 5px;

            padding: 5px 10px;
            border-radius: 10px;
            font-size: .8rem;
            color: $light3;

            cursor: pointer;
            background-color: rgba(20, 20, 30, .5);

            &.title span a,
            &.tier {
               color: var(--type);
            }


            &:hover {
               background-color: rgba(28, 28, 38, .8);
            }

            a:hover {
               text-decoration: underline;
               transition: .25s color;
               color: $light1;
            }

            >span>svg {
               font-size: .6rem;
               margin: 0 3px;
            }

            .svg {
               width: .8rem;
               height: .8rem;
               margin-right: .2rem;
               display: inline-flex;
               align-self: center;

               svg {
                  fill: $light3;
                  width: .8rem;
                  height: .8rem;
                  position: relative;
                  top: .125rem;
               }
            }
         }
      }
   }

}